<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div>
    <th:block th:each="car : ${cars}">
        <h1 th:text="${car.getBrand()}"></h1>
    </th:block>
</div>


<table id="carList">
    <thead>
    <tr>
        <th> Brand </th>
        <th> Model </th>
        <th> Series </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}"
        th:style="${car} ? 'background: #f0f0f2;' : 'background: #ffffff;'">
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.series}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>