<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New generation</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>

<div>
<!--    <button class="w3-container w3-blue-grey w3-opacity w3-right-align" onclick="location.href='/cars'" >Cars</button>-->
</div>

<div>
        <button class="w3-container w3-blue-grey w3-opacity w3-right-align" onclick="location.href='/editPage'" >Fill the form</button>
</div>

</body>
</html>